/* html {
  background-color: rgb(194, 250, 176);
} */

.dapp-background {
    background-color: rgb(194, 250, 176);
} 
.dapp-links {
    color: rgb(152, 28, 224);
}
.company {
    color: rgb(152, 28, 224);
    padding-left: 10px;
}

.reg-login-form, .fundraiser-form, #donate-section, #faucet-section, #wallet-section {
    margin-top: 80px;
    margin-right: 200px;
    margin-left: 200px;
    background-color: rgb(222, 179, 247);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
  }

  #donate-section {
    margin-top: 80px;
  }

  #floatingInput {
    margin-bottom: 20px;
  }

  #guest-img {
    /* display: inline-flex; */
    height: 440px;

  }

  #welcome-text {
    display: flex;
    align-items: center;
  }
 
  #login-incorrect-info, #invalid-info, #mnemonic-info, #login-invalid-info, #login-success-info, #create-campaign-success, #create-campaign-error, #campaign-donate-success, #campaign-donate-error {
    display: none;
  }
  
  #donateField {
    display: inline;
    width: fit-content;
  }

  #donate-ether {
      padding-top: 120px;
      display: flex;
      justify-content: left;
  }


  #campaign-type, #campaign-title {
    display: flex;
    justify-content: left;
    margin-top: 30px;
  } 

  #campaign-list, #faucet-links > li {
    list-style-type: none;
  }

  #end-fundraiser-button {
    /* display: block; */
    margin-top: 80px;
  }

  #user-balance {
    font-size: 15px;
  }

  #thumbnail-input {
    font-size: 20px;
    padding: 20px;
  }

  #select-thumbnail {
    padding-left: 185px;
  }

  #campaign-creator {
    padding-top: 80px;
  }

  #campaign-thumbnail {
    height: 200px;
  }

#guest-section {
  padding-bottom: 70px;
  /* display: flex; */

}

#no-campaign-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 210px;
  background-color: rgb(222, 179, 247);
}

#auth-home-page {
  padding-bottom: 44%;
}